Repository IEDCMEC/techno-event-management: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

made code pretty for build
  apps/web-admin/src/pages/[orgId]/events/[eventId]/participants/index.jsx
Due: prettier --write, eslint

fixed: page error
  apps/web-admin/src/pages/[orgId]/events/[eventId]/participants/index.jsx
Due: prettier --write, eslint

added scrolling inside table
  apps/web-admin/src/components/DataDisplay.jsx
  apps/web-admin/src/layouts/DashboardLayout.jsx
Due: prettier --write, eslint

fixed sign in issue in mobile view
  apps/web-admin/src/components/landing/components/navbar.jsx
Due: prettier --write, eslint

Core Mailer
  .github/workflows/build.yml
  .gitignore
  apps/core-mailer/.dockerignore
  apps/core-mailer/.env.example
  apps/core-mailer/package.json
  apps/core-mailer/src/config/NodeMailer.ts
  apps/core-mailer/src/config/Redis.ts
  apps/core-mailer/src/controller/mail.ts
  apps/core-mailer/src/controllers/MailController.ts
  apps/core-mailer/src/index.ts
  apps/core-mailer/src/middlewares/auth.ts
  apps/core-mailer/src/models/Mail.ts
  apps/core-mailer/src/services/MailService.ts
  packages/database/prisma/schema.prisma
  packages/tsconfig/package-lock.json
  pnpm-lock.yaml
Due: prettier --write, eslint

Core Mailer (#494)
  .github/workflows/build.yml
  .gitignore
  apps/core-mailer/.dockerignore
  apps/core-mailer/.env.example
  apps/core-mailer/package.json
  apps/core-mailer/src/config/NodeMailer.ts
  apps/core-mailer/src/config/Redis.ts
  apps/core-mailer/src/controller/mail.ts
  apps/core-mailer/src/controllers/MailController.ts
  apps/core-mailer/src/index.ts
  apps/core-mailer/src/middlewares/auth.ts
  apps/core-mailer/src/models/Mail.ts
  apps/core-mailer/src/services/MailService.ts
  packages/database/prisma/schema.prisma
  packages/tsconfig/package-lock.json
  pnpm-lock.yaml
Due: prettier --write, eslint

Fix lockfiles
  packages/auth0-flows/package-lock.json
  packages/database/package-lock.json
  packages/tsconfig/package-lock.json
  pnpm-lock.yaml
Due: none

created new frontend app for registration
  apps/registration-admin/.gitignore
  apps/registration-admin/README.md
  apps/registration-admin/eslint.config.js
  apps/registration-admin/index.html
  apps/registration-admin/package-lock.json
  apps/registration-admin/package.json
  apps/registration-admin/public/vite.svg
  apps/registration-admin/src/App.css
  apps/registration-admin/src/App.tsx
  apps/registration-admin/src/assets/react.svg
  apps/registration-admin/src/index.css
  apps/registration-admin/src/main.tsx
  apps/registration-admin/src/vite-env.d.ts
  apps/registration-admin/tsconfig.app.json
  apps/registration-admin/tsconfig.json
  apps/registration-admin/tsconfig.node.json
  apps/registration-admin/vite.config.ts
Due: prettier --write, eslint, stylelint

Schema for registrants
  packages/database/prisma/schema.prisma
Due: none

Schema for registrants (#495)
  packages/database/prisma/schema.prisma
  packages/tsconfig/package-lock.json
  pnpm-lock.yaml
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Resolved merge conflicts
  pnpm-lock.yaml
Due: none

removed unnecessary code
  apps/registration-admin/src/App.css
  apps/registration-admin/src/App.tsx
  apps/registration-admin/src/assets/react.svg
  apps/registration-admin/src/index.css
  pnpm-lock.yaml
Due: prettier --write, eslint, stylelint

added chakra-ui
  apps/registration-admin/package.json
  apps/registration-admin/src/App.tsx
  apps/registration-admin/src/Form.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint

form field display (error not fixed)
  apps/registration-admin/src/App.tsx
  apps/registration-admin/src/Form.tsx
  apps/registration-admin/vite.config.ts.timestamp-1729018167203-e533c06553425.mjs
  apps/web-admin/src/hooks/useAlert.d.ts
  apps/web-admin/src/hooks/useFetch.d.ts
Due: prettier --write, eslint

Dynamic Text Variables Feature
  apps/web-admin/src/components/CertificateUploadBox.jsx
Due: prettier --write, eslint

feat: Added participand routes and hooks for registration-admin
  apps/core-admin/src/controllers/registration.ts
  apps/core-admin/src/routes.ts
  apps/registration-admin/package-lock.json
  apps/registration-admin/package.json
  apps/registration-admin/src/App.tsx
  apps/registration-admin/src/Form.tsx
  apps/registration-admin/src/hooks/useAlert.tsx
  apps/registration-admin/src/hooks/useFetch.tsx
  apps/registration-admin/src/pages/Form.tsx
  apps/registration-admin/src/pages/NotFound.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint

removed postOrg on sign up
  .github/workflows/build.yml
  apps/registration-admin/README.md
  apps/registration-admin/eslint.config.js
  apps/registration-admin/src/App.tsx
  apps/registration-admin/src/main.tsx
  apps/registration-admin/tsconfig.app.tsbuildinfo
  apps/registration-admin/tsconfig.json
  apps/registration-admin/tsconfig.node.tsbuildinfo
  apps/registration-admin/vite.config.ts
  apps/web-admin/src/components/ProtectedRoute.jsx
Due: prettier --write, eslint

Debugging core-mailer
  apps/core-mailer/src/models/Mail.ts
Due: prettier --write, eslint

Did something
  apps/core-admin/src/controllers/registration.ts
  apps/core-admin/src/index.ts
  apps/core-admin/src/routes.ts
  apps/core-admin/src/unprotectedRoutes.ts
  apps/registration-admin/src/pages/Form.tsx
Due: prettier --write, eslint

proper post reuest set
  apps/registration-admin/src/pages/Form.tsx
Due: prettier --write, eslint

feat: added route for participant form submission in registration-admin
  _tmp_20316_7dc36939daf51af4aa2d17bfc8441de8
  apps/core-admin/src/controllers/registration.ts
  apps/core-admin/src/unprotectedRoutes.ts
  apps/registration-admin/src/pages/Form.tsx
  apps/registration-admin/vite.config.ts.timestamp-1729269251856-984e362a25cee.mjs
  pnpm-lock.yaml
Due: prettier --write, eslint

registration completed
  apps/core-admin/src/controllers/registration.ts
  apps/core-admin/src/index.ts
  apps/core-admin/src/unprotectedRoutes.ts
  apps/registration-admin/src/hooks/useFetch.tsx
  apps/registration-admin/src/pages/Form.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint

Registration complete page added
  apps/registration-admin/src/App.tsx
  apps/registration-admin/src/pages/Registered.tsx
Due: prettier --write, eslint

added cookie to check registration
  apps/registration-admin/src/App.tsx
  apps/registration-admin/src/pages/Form.tsx
Due: prettier --write, eslint

added endOfLine to prettier
  .github/workflows/build.yml
  .prettierrc.js
  apps/core-admin/src/index.ts
  apps/core-admin/src/unprotectedRoutes.ts
  apps/registration-admin/README.md
  apps/registration-admin/eslint.config.js
  apps/registration-admin/src/hooks/useFetch.tsx
  apps/registration-admin/src/main.tsx
  apps/registration-admin/src/pages/NotFound.tsx
  apps/registration-admin/src/pages/Registered.tsx
  apps/registration-admin/tsconfig.app.tsbuildinfo
  apps/registration-admin/tsconfig.json
  apps/registration-admin/tsconfig.node.tsbuildinfo
  apps/registration-admin/vite.config.ts
  apps/registration-admin/vite.config.ts.timestamp-1729018167203-e533c06553425.mjs
  apps/registration-admin/vite.config.ts.timestamp-1729269251856-984e362a25cee.mjs
  apps/web-admin/src/hooks/useAlert.d.ts
  apps/web-admin/src/hooks/useFetch.d.ts
  apps/web-admin/src/utils/prisma.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

removed eol from prettier
  .prettierrc.js
Due: prettier --write, eslint

fixed org creation for dev
  apps/web-admin/src/components/ProtectedRoute.jsx
Due: prettier --write, eslint

new prisma migration
  packages/database/prisma/migrations/20241025092424_registration/migration.sql
Due: none

Replace remote files with local files
  apps/core-mailer/src/models/Mail.ts
  apps/registration-admin/tsconfig.app.tsbuildinfo
  apps/web-admin/src/components/CertificateUploadBox.jsx
  apps/web-admin/src/components/ProtectedRoute.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

Build fix 1
  apps/web-admin/package.json
Due: none

Build fix 2
  apps/core-mailer/src/models/Mail.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

Added means to take in complex html templates
  apps/core-mailer/package.json
  apps/core-mailer/src/index.ts
  apps/core-mailer/src/models/Mail.ts
Due: prettier --write, eslint

events tab
  apps/web-admin/src/pages/[orgId]/events/[eventId]/extras/index.jsx
  apps/web-admin/src/pages/[orgId]/events/[eventId]/index.jsx
  apps/web-admin/src/pages/[orgId]/events/[eventId]/participants/index.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

Update index.jsx
  apps/web-admin/src/pages/[orgId]/events/[eventId]/index.jsx
Due: prettier --write, eslint

build fix part 1
  pnpm-lock.yaml
Due: none

build fix part 2
  package.json
  pnpm-lock.yaml
Due: none

added default attributes
  apps/web-admin/src/contexts/MyContext.jsx
  apps/web-admin/src/pages/[orgId]/events/[eventId]/index.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

Added new routes for email integration
  apps/core-admin/package.json
  apps/core-admin/src/controllers/mail.ts
  apps/core-admin/src/routes.ts
  apps/core-admin/src/utils/supabase.ts
  apps/core-admin/src/utils/supabaseTypes.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

update supabase types
  apps/core-admin/src/utils/supabaseTypes.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((((any of: *.ts) or (any of: *.js)) or (any of: *.tsx)) or (any of: *.jsx)) or (any of: *.css)
  eslint: (((any of: *.ts) or (any of: *.js)) or (any of: *.tsx)) or (any of: *.jsx)
  stylelint: any of: *.css
