Repository IEDCMEC/techno-event-management: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.js": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.jsx": ["prettier --write", "eslint"],
  "*.css": ["prettier --write", "stylelint"]
}

Try: fix of merge conflict
  pnpm-lock.yaml
Due: none

initialized the canvas in certifcate (#448)
  apps/web-admin/src/components/CertificateUploadBox.jsx
  apps/web-admin/src/pages/[orgId]/mycertificates/index.jsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

Fixing build errors
  apps/web-admin/package.json
  apps/web-admin/src/pages/[orgId]/members/index.jsx
  apps/web-admin/src/pages/[orgId]/mycertificates/index.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

Trying to fic build errors 2
  apps/web-admin/package.json
  apps/web-admin/src/pages/[orgId]/mycertificates/index.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

Fixing build errors 4
  apps/web-admin/package.json
  apps/web-admin/src/pages/404.jsx
  apps/web-admin/src/pages/[orgId]/members/index.jsx
  apps/web-admin/src/pages/[orgId]/mycertificates/index.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

Fixing build errors 5
  apps/web-admin/src/components/CertificateUploadBox.jsx
  apps/web-admin/src/pages/[orgId]/mycertificates/index.jsx
  package.json
  packages/tsconfig/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint

Fixing build errors 6
  apps/web-admin/src/pages/[orgId]/mycertificates/index.jsx
Due: prettier --write, eslint

Certificate Template Upload and fixed build errors (#465)
  apps/web-admin/package.json
  apps/web-admin/src/components/CertificateUploadBox.jsx
  apps/web-admin/src/pages/404.jsx
  apps/web-admin/src/pages/[orgId]/members/index.jsx
  apps/web-admin/src/pages/[orgId]/mycertificates/index.jsx
  packages/tsconfig/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint

Removed pnpm-lock file
  pnpm-lock.yaml
Due: none

organization settings only renders for ADMINs
  apps/web-admin/src/components/Sidebar.jsx
Due: prettier --write, eslint

feat and fix:add textbox is created and onDragMove added
  apps/web-admin/src/components/CertificateUploadBox.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

Trial Fix: Org not created
  apps/web-admin/src/components/ProtectedRoute.jsx
Due: prettier --write, eslint

Added Taskbar for Changing file Properties
  apps/web-admin/package.json
  apps/web-admin/src/components/CertificateUploadBox.jsx
  apps/web-admin/src/pages/_document.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

organization settings (#468)
  apps/web-admin/src/components/Sidebar.jsx
Due: prettier --write, eslint

gets orgId from user context
  apps/web-admin/src/components/Sidebar.jsx
Due: prettier --write, eslint

error fix
  apps/web-admin/package.json
  pnpm-lock.yaml
Due: none

feat: integrated calendar into sidebar (#476)
  apps/web-admin/components.json
  apps/web-admin/package.json
  apps/web-admin/src/components/Sidebar.jsx
  apps/web-admin/src/components/SidebarCalendar.jsx
  apps/web-admin/src/components/ui/button.jsx
  apps/web-admin/src/components/ui/calendar.jsx
  apps/web-admin/src/lib/utils.js
  apps/web-admin/src/pages/_app.jsx
  apps/web-admin/src/styles/globals.css
  apps/web-admin/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint, stylelint

removed pnpm pre-commit
  apps/web-admin/src/components/ui/button.jsx
  apps/web-admin/src/lib/utils.js
  apps/web-admin/src/styles/globals.css
  apps/web-admin/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint, stylelint

removed pnpm pre-commit
  .husky/pre-commit
Due: none

Taskbar Calendar Update (#477)
  .husky/pre-commit
  apps/web-admin/components.json
  apps/web-admin/package.json
  apps/web-admin/src/components/Sidebar.jsx
  apps/web-admin/src/components/SidebarCalendar.jsx
  apps/web-admin/src/components/ui/button.jsx
  apps/web-admin/src/components/ui/calendar.jsx
  apps/web-admin/src/lib/utils.js
  apps/web-admin/src/pages/_app.jsx
  apps/web-admin/src/styles/globals.css
  apps/web-admin/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint, stylelint

Added Taskbar for Changing file Properties (#471)
  apps/web-admin/package.json
  apps/web-admin/src/components/CertificateUploadBox.jsx
  apps/web-admin/src/pages/_document.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

Fix: Build error
  pnpm-lock.yaml
Due: none

Certiftaskbar (#481)
  apps/web-admin/package.json
  apps/web-admin/src/components/CertificateUploadBox.jsx
  apps/web-admin/src/pages/_document.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

feat and fix:add textbox is created and onDragMove added (#469)
  apps/web-admin/package.json
  apps/web-admin/src/components/CertificateUploadBox.jsx
  apps/web-admin/src/pages/_document.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

Fix: Build error
  apps/web-admin/src/components/CertificateUploadBox.jsx
Due: prettier --write, eslint

Fix: Updated taskbar
  apps/web-admin/src/components/CertificateUploadBox.jsx
Due: prettier --write, eslint

Fix: Build error part 2
  apps/web-admin/package.json
Due: none

Temp (#484)
  apps/web-admin/package.json
  apps/web-admin/src/components/CertificateUploadBox.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

Fresh install
  pnpm-lock.yaml
Due: none

Prettier
  pnpm-lock.yaml
Due: none

feat: add preview modal of event registration form (#467)
  apps/web-admin/src/pages/[orgId]/events/[eventId]/index.jsx
Due: prettier --write, eslint

1) Added a new file(OrganizationSettingsModal) within the layouts of the src(web-admin) (#470)
  apps/web-admin/src/layouts/DashboardLayout.jsx
  apps/web-admin/src/layouts/OrganizationSettingsModal.js
Due: prettier --write, eslint

Resolved scanner not opening
  apps/web-admin/src/pages/[orgId]/events/[eventId]/participants/check-in/index.jsx
Due: prettier --write, eslint

made the code prettier
  apps/web-admin/src/pages/[orgId]/events/[eventId]/participants/check-in/index.jsx
Due: prettier --write, eslint

removed overflowY hidden
  apps/web-admin/src/layouts/DashboardLayout.jsx
Due: prettier --write, eslint

made overflow hidden in dashboard layout
  apps/web-admin/src/layouts/DashboardLayout.jsx
Due: prettier --write, eslint

Added fetch in /eventid/participants
  apps/web-admin/src/pages/[orgId]/events/[eventId]/participants/index.jsx
Due: prettier --write, eslint
