Repository IEDCMEC/techno-event-management: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.js": ["prettier --write", "eslint"],
  "*.tsx": ["prettier --write", "eslint"],
  "*.jsx": ["prettier --write", "eslint"],
  "*.css": ["prettier --write", "stylelint"]
}

feat(web-client): Add QR scanner component (#37)
  apps/web-client/package.json
  apps/web-client/src/components/Scanner/Scanner.tsx
  apps/web-client/src/pages/index.tsx
  apps/web-client/src/types/scanner.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: Add AGPL license
  LICENSE
  README.md
Due: none

chore: Add an example database for local development
  packages/database/Dockerfile
  packages/database/__scripts__/INIT.sql
  packages/database/__scripts__/ROLES.sql
  packages/database/__scripts__/SUBSCRIPTIONS.sql
  packages/database/package.json
  packages/database/src/index.ts
  packages/database/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: initialize shadcn/ui with button component
  apps/web-client/components.json
  apps/web-client/package.json
  apps/web-client/src/components/ui/button.tsx
  apps/web-client/src/lib/utils.ts
  apps/web-client/src/pages/index.tsx
  apps/web-client/src/styles/globals.css
  apps/web-client/tailwind.config.ts
Due: prettier --write, eslint, stylelint

docs(contribute): add contribution guidelines in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs(contribution) guidelines : add details on types of commits
  CONTRIBUTING.md
Due: none

docs: Create contribution guidelines (#52)
  CONTRIBUTING.md
Due: none

Update contributor guidelines
  README.md
Due: none

docs: Update contributor guidelines (#55)
  README.md
Due: none

none
  pnpm-lock.yaml
Due: none

feat: add logo
  apps/web-client/public/tem_logo.png
Due: none

docs: Update README.md
  README.md
Due: none

feat: Set up dependabot updates
  .github/dependabot.yml
Due: none

feat; color palette
  apps/web-client/src/styles/palette.css
Due: prettier --write, stylelint

feat: add logo variation
  apps/web-client/public/tem_logo_2.png
Due: none

fix: logo design
  apps/web-client/public/tem_logo_2.png
Due: none

fix: Fix wrong values in dependabot.yml
  .github/dependabot.yml
Due: none

fix: Fix dependabot not updating package-lock.json
  .github/dependabot.yml
Due: none

chore: Update lockfile
  pnpm-lock.yaml
Due: none

feat: initialize shadcn/ui with button component (#51)
  apps/web-client/components.json
  apps/web-client/package.json
  apps/web-client/src/components/ui/button.tsx
  apps/web-client/src/lib/utils.ts
  apps/web-client/src/pages/index.tsx
  apps/web-client/src/styles/globals.css
  apps/web-client/tailwind.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, stylelint

feat: initialize shadcn/ui with button component (#51) (#85)
  apps/web-client/components.json
  apps/web-client/package.json
  apps/web-client/src/components/ui/button.tsx
  apps/web-client/src/lib/utils.ts
  apps/web-client/src/pages/index.tsx
  apps/web-client/src/styles/globals.css
  apps/web-client/tailwind.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, stylelint

chore: Change frequency of dependabot updates
  .github/dependabot.yml
Due: none

feat!: Add new dashboard layout
  apps/web-client/components.json
  apps/web-client/package.json
  apps/web-client/src/components/Menu.tsx
  apps/web-client/src/components/Navbar.tsx
  apps/web-client/src/components/Sidebar.tsx
  apps/web-client/src/components/cards/ParticipantCard.tsx
  apps/web-client/src/components/ui/card.tsx
  apps/web-client/src/components/ui/input.tsx
  apps/web-client/src/components/ui/label.tsx
  apps/web-client/src/components/ui/menubar.tsx
  apps/web-client/src/components/ui/scroll-area.tsx
  apps/web-client/src/components/ui/select.tsx
  apps/web-client/src/components/ui/separator.tsx
  apps/web-client/src/components/ui/skeleton.tsx
  apps/web-client/src/components/ui/tabs.tsx
  apps/web-client/src/layouts/DashboardLayout.tsx
  apps/web-client/src/pages/dashboard/[orgId]/[eventId]/index.tsx
  apps/web-client/src/pages/dashboard/[orgId]/index.tsx
  apps/web-client/styles/global.css
  apps/web-client/tailwind.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint, stylelint

fix: Fix pre-commit error
  .husky/pre-commit
Due: none

chore(eslint): Remove rules requiring functions to be declared as arrow functions
  packages/eslint-config-custom/index.js
Due: prettier --write, eslint

feat(core): Add organizations to request body using middleware
  apps/core/src/middlewares/auth.middleware.ts
Due: prettier --write, eslint

feat(core): Complete Event functionality
  apps/core/src/controllers/event.controller.ts
  apps/core/src/index.ts
  apps/core/src/routes/routes.ts
  apps/core/src/services/event.service.ts
  packages/common/src/index.ts
Due: prettier --write, eslint

feat(core): Add organizations to request body using middleware (#99)
  apps/core/src/middlewares/auth.middleware.ts
Due: prettier --write, eslint

feat(core): Complete Event functionality (#100)
  apps/core/src/controllers/event.controller.ts
  apps/core/src/index.ts
  apps/core/src/routes/routes.ts
  apps/core/src/services/event.service.ts
  packages/common/src/index.ts
Due: prettier --write, eslint

feat(core): Complete Participant functionality
  apps/core/src/controllers/participant.controller.ts
  apps/core/src/routes/routes.ts
  apps/core/src/services/participant.service.ts
Due: prettier --write, eslint

feat(core): Complete Participant functionality (#101)
  apps/core/src/controllers/participant.controller.ts
  apps/core/src/routes/routes.ts
  apps/core/src/services/participant.service.ts
Due: prettier --write, eslint

feat(web-client): Integrate events into web-client
  apps/core/src/controllers/event.controller.ts
  apps/web-client/package.json
  apps/web-client/src/components/Sidebar.jsx
  apps/web-client/src/components/cards/EventCard.jsx
  apps/web-client/src/layouts/DashboardLayout.jsx
  apps/web-client/src/lib/axios.js
  apps/web-client/src/pages/dashboard/[orgId]/index.jsx
  apps/web-client/src/pages/dashboard/[organizationId]/[eventId]/index.jsx
  apps/web-client/src/pages/dashboard/[organizationId]/index.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

feat(web-client): Integrate events into web-client (#102)
  apps/core/src/controllers/event.controller.ts
  apps/web-client/package.json
  apps/web-client/src/components/Sidebar.jsx
  apps/web-client/src/components/cards/EventCard.jsx
  apps/web-client/src/layouts/DashboardLayout.jsx
  apps/web-client/src/lib/axios.js
  apps/web-client/src/pages/dashboard/[orgId]/index.jsx
  apps/web-client/src/pages/dashboard/[organizationId]/[eventId]/index.jsx
  apps/web-client/src/pages/dashboard/[organizationId]/index.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: Integrate participants into dashboard
  apps/core/src/controllers/participant.controller.ts
  apps/core/src/services/participant.service.ts
  apps/web-client/package.json
  apps/web-client/src/components/cards/ParticipantCard.jsx
  apps/web-client/src/components/ui/form.jsx
  apps/web-client/src/components/ui/textarea.jsx
  apps/web-client/src/layouts/DashboardLayout.jsx
  apps/web-client/src/pages/dashboard/[organizationId]/[eventId]/index.jsx
  apps/web-client/src/pages/dashboard/[organizationId]/[eventId]/new/index.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

feat: Integrate participants into dashboard (#109)
  apps/core/src/controllers/participant.controller.ts
  apps/core/src/services/participant.service.ts
  apps/web-client/package.json
  apps/web-client/src/components/cards/ParticipantCard.jsx
  apps/web-client/src/components/ui/form.jsx
  apps/web-client/src/components/ui/textarea.jsx
  apps/web-client/src/layouts/DashboardLayout.jsx
  apps/web-client/src/pages/dashboard/[organizationId]/[eventId]/index.jsx
  apps/web-client/src/pages/dashboard/[organizationId]/[eventId]/new/index.jsx
  pnpm-lock.yaml
Due: prettier --write, eslint

refactor(web-client): Organize authentication pages
  apps/web-client/src/pages/(auth)/login/index.jsx
  apps/web-client/src/pages/(auth)/signup/index.jsx
Due: prettier --write, eslint

refactor(web-client): Organize authentication pages (#110)
  apps/web-client/src/pages/(auth)/login/index.jsx
  apps/web-client/src/pages/(auth)/signup/index.jsx
Due: prettier --write, eslint
